@model CIAB.Models.ResetPassword

@{
    ViewBag.Title = "ChangeUserPassword";
    Layout = "~/Views/_LayoutCIAB.cshtml";
}
<script src='@Url.Content("~/Scripts/jquery.min.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>


<div id="about_top">
    <div class="container">
        <div class="row signup_login">
            <div class="col-md-6 col-md-offset-3 signup_left">

                <div class="header_wrap">
                    <h3>Change Password</h3>

                </div>


                <!-- Register Form Starts Here-->
                @using (Html.BeginForm("ChangeUserPassword", "ChangePassword", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <label for="">Current Password <span class="req">*</span></label>
                        <input type="password" class="form-control" id="CurrentPass" name="CurrentPass" required placeholder="Enter your Current Password">
                        @Html.ValidationMessageFor(validation => validation.CurrentPass)

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <span style="color:red">@ViewBag.ErrorMessage</span>
                        }

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password <span class="req">*</span></label>
                        <input type="password" class="form-control" id="NewPass" name="NewPass" required placeholder="New Password">
                        <span id="helpBlock" class="help-block">5 characters minimum, no spaces, no special characters</span>
                        @Html.ValidationMessageFor(error => error.NewPass)
                    </div>
                    <div class="form-group">
                        <label for="Password">Confirm New Password <span class="req">*</span></label>
                        <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" required placeholder="Confirm Password">
                        @Html.ValidationMessageFor(error => error.ConfirmNewPassword)
                    </div>

                    <button type="submit" class="btn btn-default btn-block btn-cta">Change Password</button>
                }
                <!--Register Form Ends Here-->
            </div><!-- /about_header -->
        </div>
    </div>
</div>


