@model CIAB.Models.UserProfileEdit
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Account Overview | KPMG Cyber Security</title>
    <meta name="desc" content="">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>

  

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-static-top">






    <div id="dialog-alert" title="Success">
        <p>
            @TempData["ProfileUpdated"]

        </p>
    </div>







    <!-- Static navbar -->
    <div id="menu-sticky-wrapper" class="sticky-wrapper is-sticky">
        <div id="menu" role="navigation" style="width: 100%; position: fixed; top: 0px;z-index:777;">

            <div class="top_header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 search-top">
                            <a href="@Url.Action("Index", "Home")" onclick='location.href=this.getAttribute("href")'><img src="~/Images/kpmg-logo.png" /></a>
                        </div>
                        <div class="col-md-9 col-md-offset-1 top-nav top-nav">
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="@Url.Action("CyberMart", "Product")" onclick='location.href=this.getAttribute("href")'>Cyber Mart</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")" onclick='location.href=this.getAttribute("href")'>Contact Us</a></li>
                                    <li class="active"><a href="@Url.Action("AboutUs", "Home")" onclick='location.href=this.getAttribute("href")' ">About Us</a></li>
                                    <li class="flag"><a href="@Url.Action("Index", "Home")" onclick='location.href=this.getAttribute("href")'>SGD</a></li>

                                    @if (HttpContext.Current.Session["UserName"] != null)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user"></i>


                                                <span>Hi</span> @HttpContext.Current.Session["UserName"]


                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("UserProfileEdit", "Home")" onclick='location.href=this.getAttribute("href")'>Account Setting</a></li>
                                                <li><a href="@Url.Action("LogOut", "Home")" onclick='location.href=this.getAttribute("href")'>Log Out</a></li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("SignUpLogin", "Home")" onclick='location.href=this.getAttribute("href")'>Login / Register</a></li>

                                    }
                                </ul>
                            </div><!--/.nav-collapse -->

                        </div>
                    </div>
                </div>
            </div><!-- /top_header -->


        </div><!-- /menu -->
    </div><!-- /menu-sticky-wrapper -->
    
    

    <div id="sub_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mart_header">
                    <h1>Account Setting</h1>
                    <a href="@Url.Action("CyberHealthSignUp", "Home")" onclick='location.href=this.getAttribute("href")' type="button" class="btn btn-default btn-cta btn-sm">FREE Cyber Health Check Scan Now!</a>
                </div><!-- /about_header -->
            </div>
        </div>
    </div><!-- /sub_header -->
    
    

    @*<div class="navbar navbar-default navbar-static-top sticky" id="menu" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-2 logo">
                    <a href="index.html"><img src="~/Images/kpmg-logo.png" alt="" /></a>
                </div>
                <div class="col-md-4">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav main_menu">
                            <li><a href="cybermart.html">Cyber Mart</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>/.nav-collapse 
                </div>
                <div class="col-md-6">
                    <a href="cybersecurity-check-signup.html" type="button" class="btn btn-default btn-cta btn-block">Get Your FREE Cyber Health Check Scan Now!</a>
                </div>

            </div>
        </div>
    </div>*@

    <div id="sub_content">
        <div class="container">
            <div class="row">
                @*<div class="col-md-3 dash_profile">
                    <img src="images/graham.jpg" alt="" class="img-responsive">
                    <h4>Graham Williams</h4>
                    <h5>Oganization: DekatKu Sdn Bhd</h5>
                    <p>Vestibulum et varius arcu. Pellentesque a diam diam. Vestibulum vestibulum lacinia ligula. Nullam mauris metus, fringilla eget feugiat ac, sollicitudin quis libero. </p>
                    <a type="button" class="btn btn-info"><i class="fa fa-sign-out"></i>&nbsp; Log Out</a>
                </div>*@
                <div class="col-md-9">
                    <div class="dash_details">
                       
                        <div class="dash_content">
                            @*<p>Edit your account settings, billing information, and account status below.</p>*@
                            <form class="form-horizontal" action="/Home/UserProfileEdit" method="post">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Full Name<span class="req">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="FullName" id="FullName" value="@ViewData["fullname"]" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email<span class="req">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" value="@ViewData["email"]" name="email" id="email" placeholder="@ViewData["email"]" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Website</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="Website" id="Website" value="@ViewData["website"]" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company Name<span class="req">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="CompanyName" id="ComapnyName" value="@ViewData["CompanyName"]" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company Address<span class="req">*</span></label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" name="CompanyAddress" id="CompanyAddress" placeholder="@ViewData["CompanyAddress"]" rows="5" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-default btn-cta">Save</button>
                                        <!--<button type="submit" class="btn btn-default btn-cta btn-cancel">Cancel</button>-->
                                        
                                    </div>
                                </div>
                            </form>
                            <hr />
                            @*<div class="man_acc">
                                <h3>Manage Account</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-hold btn-block">Put Account Onhold</a>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Put your account on hold for up to 6 months to stall your payment subscription.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="btn btn-default btn-hold btn-del btn-block">Delete Account</a>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Delete your account only if you want to permanently remove your account, If you want to stall your payments and not delete all of your account information, put your account on hold.</p>
                                    </div>
                                </div>
                            </div>*@ 
                        </div><!-- /dash_content -->
                    </div><!-- /dash_details -->
                </div>
            </div>
        </div>
    </div><!-- /sub_header -->

    <div id="bottom_cta">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>KPMG Cyber Security Health Check</h2>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("CyberHealthSignUp", "Home")" onclick='location.href=this.getAttribute("href")' type="button" class="btn btn-default btn-cta btn-block"><i class="fa fa-search"></i> &nbsp;Get Your FREE Scan Now!</a>
                 </div>

            </div>
        </div>
    </div><!-- bottom_cta -->

    <div id="footer">
        <div class="container">
            <div class="row t_footer">
                <div class="col-md-5">
                    <img src="~/Images/kpmg-logo.png" class="" />
                    <p>
                        (+65) 6213 3388<br>
                        <span>cybersecurity@kpmg.com.sg</span><br>
                        16 Raffles Quay #22-00, Hong Leong Building, Singapore
                    </p>
                </div>
                <div class="col-md-3">
                    <h4>Cyber Mart</h4>
                    
                    <ul>
                    
                       
                        <li><a href="@Url.Action("vulnerabilityScan", "Product")" onclick='location.href=this.getAttribute("href")'>Vulnerability Scan</a></li>
                        <li><a href="@Url.Action("DefacementMonitoring", "Product")" onclick='location.href=this.getAttribute("href")'>Website Defacement Monitoring</a></li>
                        <li><a href="@Url.Action("EmailThreatPrevention", "Product")" onclick='location.href=this.getAttribute("href")'>Email Threat Monitoring</a></li>
                        <li><a href="@Url.Action("CyberSecurityHealthCheck", "Product")" onclick='location.href=this.getAttribute("href")'>Cyber Security Health Check</a></li>
                   
                   
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Suport</h4>
                    <ul>
                        <li><a href="#">Knowledge Base</a></li>
                        <li><a href="#">Support Ticket</a></li>
                        <li><a href="#">SiteCheck</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Cyber Mart</h4>
                    <ul>
                        <li><a href="about-us.html">About</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="http://www.kpmg.com">KPMG</a></li>
                    </ul>
                </div>
            </div>
            <div class="row b_footer">
                <div class="col-md-12">
                    <p>© 2015 KPMG Services Pte. Ltd. (Registration No: 200003956G), a Singapore incorporated company and a member firm of the KPMG network of independent member firms affiliated with KPMG International Cooperative ("KPMG International"), a Swiss entity. All rights reserved.</p>
                </div>
            </div>

        </div>
    </div><!-- footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.colorbox-min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
   
     @if (ViewData["ProfileUpdated"]!= null)
{
    <script type="text/javascript">
        $(function () {
            alert('@ViewData["ProfileUpdated"]');


        });  
    </script>
}
     else
     {

     }


</body>
</html>