@model CIAB.Models.UserProfileEdit
@{
    ViewBag.Title = "User Profile";

}
<div id="dialog-alert" title="Success">
    <p>
        @TempData["ProfileUpdated"]
    </p>
</div>
<div id="sub_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mart_header">
                <h1>Account Setting</h1>
            </div><!-- /about_header -->
        </div>
    </div>
</div><!-- /sub_header -->

<div id="sub_content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="dash_details">
                    <div class="dash_content">
                        @using (Html.BeginForm("UserProfileEdit", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Full Name<span class="req">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="FullName" id="FullName" value="@ViewData["fullname"]" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email<span class="req">*</span></label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" value="@ViewData["email"]" name="email" id="email" placeholder="@ViewData["email"]" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Website</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Website" id="Website" value="@ViewData["website"]" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Company Name<span class="req">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="CompanyName" id="ComapnyName" value="@ViewData["CompanyName"]" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Company Address<span class="req">*</span></label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" name="CompanyAddress" id="CompanyAddress"  placeholder="Input Company Address" rows="5" required>@ViewData["CompanyAddress"]</textarea>
                                </div>
                            </div>
                            
                            
                             <div class="form-group">
                                <label class="col-sm-3 control-label">My Order<span class="req"></span></label>
                                 <a href="@Url.Action("ViewUserOrders", "UserPurchases")" onclick='location.href=this.getAttribute("href")' class="btn btn-default btn-cta btn-cancel">VIEW ORDERS</a>
                                 <a href="@Url.Action("ChangeUserPassword", "ChangePassword")" onclick='location.href=this.getAttribute("href")' class="btn btn-default btn-cta btn-cancel">CHANGE PASSWORD</a>

                                <div class="col-sm-9">
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default btn-cta">Save</button>
                                    @*@Html.ActionLink("Change Password", "ChangeUserPassword", "ChangePassword")*@
                                
                                </div>
                            </div>
                        }


                            
                        <hr />
                    </div><!-- /dash_content -->
                </div><!-- /dash_details -->
            </div>
        </div>
    </div>
</div><!-- /sub_header -->
@if (ViewData["ProfileUpdated"] != null)
{
    <script type="text/javascript">
        $(function () {
            alert('@ViewData["ProfileUpdated"]');
        });
    </script>
}
else
{

}