@{
    ViewBag.Title = "DefacementMonitoring";
    Layout = "~/Views/_LayoutCIAB.cshtml";

}


<div id="sub_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mart_header">
                <h1>Website Defacement Monitoring</h1>
            </div><!-- /defacement_header -->
        </div>
    </div>
</div><!-- /sub_header -->

<div id="cyber_intro" class="defa_header_new">
    <div class="container">
        <div class="row">
            <p style="padding-left:60px;padding-right:60px;">In this internet era, a corporation’s webpage is an important online representation of its brand and reputation. However, in recent years, cyber-attacks are on the rise and corporate websites in both government and private sectors have often been the targets of such attacks. Attacks such as web defacement can harm your company’s reputation. Hence it is thus crucial to protect your organisation’s brand image. </p>
        </div>
    </div>
    <div class="container" style="position:absolute;bottom:-1px;width:100%">
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#how">How It Works</a></li>
                    <li><a data-toggle="tab" href="#faq">FAQ</a></li>
                    <li><a data-toggle="tab" href="#price">Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /cyber_intro -->

<div id="sub_content" class="cloud">
    <div class="tab-content">
        <div id="how" class="tab-pane fade in active">
            <div class="container">
                <div class="row cyber_details">
                    <div class="col-md-2">
                        <img src="~/Images/gears.jpg" alt="" class="gears">
                    </div>
                    <div class="col-md-10">
                        <h3>How It Works</h3>
                        <p>Web Defacement Monitor tool uses industry leading analytical engines to look out for any webpage defacement or unauthorized changes for your webpage.</p>
                        <p>Our tool will proactively monitor your webpage round the clock 24x7 to give you greater assurance that your website’s integrity and reputation is intact in front of your customers and partners.</p>
                        <p>In the event of any webpage defacement or unauthorized changes, an email or SMS will be sent to your organisation's security team . This allows you to activate your webpage recovery mechanism to preserve the reputation of your website.</p>
                    </div>
                </div><!-- /cyber_details -->
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <img src="~/Images/Image-defacement.jpg" alt="" class="center-block mature">
                    </div>
                </div>
            </div>
        </div><!-- /how -->
        <div id="faq" class="tab-pane fade">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Images/Image-defacement-faq.jpg" alt="" class="center-block mature">
                        <hr />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row cyber_details faq">
                    <div class="col-md-4">
                        <img src="~/Images/qa-icon.jpg" class="pull-left m_right" />
                        <h3>Question and Answers</h3>
                    </div>
                    <div class="col-md-8">
                        <h5>1. Why do we need WebOrion&trade; Defacement Monitor (WM)?</h5>
                        <p>Websites today represent the reputation and branding of many companies. Unfortunately, cyber attacks on websites are on the rise. Full defacements or even partial defacement using malicious javascripts, iframes, style sheets, can affect the reputation of companies. Some of these partial defacements cannot be detected by the human eyes. As such, proactive website monitoring using our WM is highly recommended for all reputable websites.</p>
                    </div>
                </div><!-- /faq -->
                <div class="row cyber_details faq">
                    <div class="col-md-6">
                        <h5>2. Do I need to install anything on my website/servers or network?</h5>
                        <p>No. There is no need for any software or hardware installation for our SaaS model. All we need is to configure the URL to be monitored into our system and our WM will then automatically poll your website at a regular polling interval.</p>
                    </div>
                    <div class="col-md-6">
                        <h5>3. My website is hosted with an Internet Service Provider. Does WM work with virtually hosted or shared hosted websites?</h5>
                        <p>Yes. Since there is no need for any software or hardware installation for our SaaS model, our WM can poll any website as long as the URL is accessible to our system.</p>
                    </div>
                </div><!-- /faq -->
                <div class="row cyber_details faq">
                    <div class="col-md-6">
                        <h5>4. My website has a lot of dynamic content and is frequently changing. Can WM monitor this kind of website?</h5>
                        <p>Yes, our solution is designed to minimize false alarms from dynamically changing websites using our industry leading Content Analytics, Advanced Integrity and Image Analytics engines.</p>
                    </div>
                    <div class="col-md-6">
                        <h5>5. Does this mean that my website would not be hacked?</h5>
                        <p>The WM does not guarantee that your website would not be hacked. It serves as an alert system to notify you that your website has been compromised so that you could take swift incident handling actions.</p>
                    </div>
                </div><!-- /faq -->
                <div class="row cyber_details faq">
                    <div class="col-md-6">
                        <h5>6. What happens after an abnormality is detected?</h5>
                        <p>When the WM detects abnormality during its routine polling of your website, you will receive an email and SMS* of the incident after which you can take steps to correct the problem.</p>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div><!-- /faq -->
            </div>
        </div><!-- /faq -->
        <div id="price" class="tab-pane fade">
            <div class="container">
                <div class="row cyber_details faq">
                    <div class="col-md-12">
                        <div id="DIV_1">
                            <div id="DIV_2">
                                <div id="DIV_3">
                                </div>
                                <div id="DIV_4">
                                    <div id="DIV_5">
                                        Expert
                                    </div>
                                    <div id="DIV_6">
                                        Fortune 500 Business
                                    </div>
                                    <div id="DIV_7">
                                        <p id="P_8">
                                            <sup id="SUP_9">$</sup>199/<sub id="SUB_10">mo</sub>
                                        </p>
                                    </div>
                                    <div id="DIV_11">

                                    </div>
                                </div>
                                <div id="DIV_18">
                                </div>
                                <div id="DIV_19">
                                    <div id="DIV_20">
                                        <div id="DIV_21">
                                            <p id="P_22">
                                                <strong id="STRONG_23">PRO FEATURES</strong>
                                            </p>
                                        </div>
                                        <div id="DIV_29">
                                            <p id="P_30">
                                                Client Sub-Accounts
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div id="DIV_35">
                                </div>
                                <div id="DIV_36">
                                    <div id="DIV_37">
                                        <p id="P_38">
                                            No setup fees
                                        </p>
                                        <p id="P_39">
                                            No long term contracts
                                        </p>
                                        <p id="P_40">
                                            Change plans at any time
                                        </p>
                                        <p id="P_41">
                                            30-day free trial
                                        </p>
                                    </div>
                                    <div id="DIV_42">
                                        @if (HttpContext.Current.Session["UserName"] != null)
                                        {
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABWD" })" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>

                                        }

                                        else
                                        {
                                            <a href="@Url.Action("SignUpLogin", "Home")" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>
                                        }
                                    </div>
                                </div>
                                <div id="DIV_45">
                                </div>
                            </div>
                            <div id="DIV_46">
                                <div id="DIV_47">
                                    BEST VALUE
                                </div>
                                <div id="DIV_48">
                                    <div id="DIV_49">
                                        Standard
                                    </div>
                                    <div id="DIV_50">
                                        Consultants &amp; Small Business
                                    </div>
                                    <div id="DIV_51">
                                        <p id="P_52">
                                            <sup id="SUP_53">$</sup>99/<sub id="SUB_54">mo</sub>
                                        </p>
                                    </div>
                                    <div id="DIV_55">
                                        <div>

                                        </div>
                                    </div>
                                </div>
                                <div id="DIV_62">
                                </div>
                                <div id="DIV_63">
                                    <div id="DIV_64">
                                        <div id="DIV_65">
                                            <p id="P_66">
                                                <strong id="STRONG_67">PRO FEATURES</strong>
                                            </p>
                                        </div>
                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div id="DIV_73">
                                            <p id="P_74">
                                                –
                                            </p>
                                        </div>
                                        <div id="DIV_75">
                                            <p id="P_76">
                                                <a href="/pricing-compare/" id="A_77"><strong id="STRONG_78">See All Features</strong></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="DIV_79">
                                </div>
                                <div id="DIV_80">
                                    <div id="DIV_81">
                                        <p id="P_82">
                                            No setup fees
                                        </p>
                                        <p id="P_83">
                                            No long term contracts
                                        </p>
                                        <p id="P_84">
                                            Change plans at any time
                                        </p>
                                        <p id="P_85">
                                            30-day free trial
                                        </p>
                                    </div>
                                    <div id="DIV_86">
                                        @if (HttpContext.Current.Session["UserName"] != null)
                                        {
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABWD" })" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>

                                        }

                                        else
                                        {
                                            <a href="@Url.Action("SignUpLogin", "Home")" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>
                                        }
                                    </div>
                                </div>
                                <div id="DIV_89">
                                </div>
                            </div>
                            <div id="DIV_90">
                                <div id="DIV_91">
                                </div>
                                <div id="DIV_92">
                                    <div id="DIV_93">
                                        Starter
                                    </div>
                                    <div id="DIV_94">
                                        New Business &amp; Entrepreneurs
                                    </div>
                                    <div id="DIV_95">
                                        <p id="P_96">
                                            <sup id="SUP_97">$</sup>49/<sub id="SUB_98">mo</sub>
                                        </p>
                                    </div>
                                    <div id="DIV_99">
                                        <div>

                                        </div>
                                    </div>
                                </div>
                                <div id="DIV_106">
                                </div>
                                <div id="DIV_107">
                                    <div id="DIV_108">
                                        PRO FEATURES
                                    </div>
                                </div>
                                <div id="DIV_122">
                                </div>
                                <div id="DIV_123">
                                    <div id="DIV_37">
                                        <p id="P_38">
                                            No setup fees
                                        </p>
                                        <p id="P_39">
                                            No long term contracts
                                        </p>
                                        <p id="P_40">
                                            Change plans at any time
                                        </p>
                                        <p id="P_41">
                                            30-day free trial
                                        </p>
                                    </div>
                                    <div id="DIV_129">
                                        @if (HttpContext.Current.Session["UserName"] != null)
                                        {
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABWD" })" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>

                                        }

                                        else
                                        {
                                            <a href="@Url.Action("SignUpLogin", "Home")" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>
                                        }
                                    </div>
                                </div>
                                <div id="DIV_132">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /cyber_details -->
            </div>
        </div><!-- /price -->
    </div><!-- /tab-content -->

</div>

