@using Telerik.Web.Mvc.UI
@using Kendo.Mvc.UI
@model IEnumerable<CIAB.Models.UserDetail>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>User Details | KPMG Cyber Security</title>

    <meta name="desc" content="">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.web.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-static-top">

    <!-- Static navbar -->

    <div id="menu" class="sticky" role="navigation" style="width: 100%; position: fixed; top: 0px;">

        <div class="top_header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 search-top">
                        <a href="@Url.Action("Index", "Home")" onclick='location.href=this.getAttribute("href")'><img src="~/Images/kpmg-logo.png" /></a>
                    </div>
                    <div class="col-md-9 col-md-offset-1 top-nav top-nav">
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("CyberMart", "Product")" onclick='location.href=this.getAttribute("href")'>Cyber Mart</a></li>
                                <li><a href="@Url.Action("Contact", "Home")" onclick='location.href=this.getAttribute("href")'>Contact Us</a></li>
                                <li class="active"><a href="@Url.Action("AboutUs", "Home")" onclick='location.href=this.getAttribute("href")' ">About Us</a></li>
                                <li class="flag"><a href="@Url.Action("Index", "Home")" onclick='location.href=this.getAttribute("href")'>SGD</a></li>


                                @if (HttpContext.Current.Session["UserName"] != null)
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user"></i>


                                            <span>Hi</span> @HttpContext.Current.Session["UserName"]


                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("UserProfileEdit", "Home")" onclick='location.href=this.getAttribute("href")'>Account Setting</a></li>
                                            <li><a href="@Url.Action("LogOut", "Home")" onclick='location.href=this.getAttribute("href")'>Log Out</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("SignUpLogin", "Home")" onclick='location.href=this.getAttribute("href")'>Login / Register</a></li>

                                }


                                <!-- <li><a id="myBtn"><i class="fa fa-user"></i> Login</a></li> -->
                            </ul>
                        </div><!--/.nav-collapse -->

                    </div>
                </div>
            </div><!-- /top_header -->


        </div><!-- /menu -->
    </div><!-- /menu-sticky-wrapper -->
    <div id="sub_header">

    </div><!-- /sub_header -->


    <div id="sub_content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bs-example" data-example-id="striped-table" style="background:#fff;padding:40px 20px 20px 20px;">



                        @(Html.Kendo().Grid(Model).Name("UserDetailsGrid").Columns(columns =>{

                                columns.Bound(p => p.FullName).Title("Full Name").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                                columns.Bound(p => p.UserName).Title("User Name").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                                columns.Bound(p => p.Email).Title("Email").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                                columns.Bound(p => p.pass).Title("Password").Format("*****").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                                
                                columns.Command(p => { p.Edit().Text("Update");});
                                //columns.Command(p => { p.Edit(); p.Destroy(); });
                            })
                         

                                

                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)//No server-side postback , Do it in client side
                            .PageSize(10)
                            .Model(model => model.Id(p => p.UserId))
                            .Read(read => read.Action("UserDetails", "UserDetail"))//read and display the records
                            .Update(update => update.Action("Update", "Admin"))
                            .Destroy(delete => delete.Action("Create", "UserDetail"))
                            )
                            
                                


                            .Pageable()
                            .Sortable()
                            .Scrollable()
                            .Filterable()
                            .Selectable()
                            .Editable(editable => editable.Mode(Kendo.Mvc.UI.GridEditMode.InLine))
                            .HtmlAttributes(new { style = "height:330px;" })
                            

                        )










                    </div><!-- /bs-example -->
                </div>

            </div>
        </div>
    </div><!-- /sub_header -->



    <div id="footer">
        <div class="container">
            <div class="row t_footer">
                <div class="col-md-5">
                    <img src="../Images/kpmg-logo.png" class="" />
                    <p>
                        (+65) 6213 3388<br>
                        <span>cybersecurity@kpmg.com.sg</span><br>
                        16 Raffles Quay #22-00, Hong Leong Building, Singapore
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Cyber Mart</h4>
                    <ul>
                        <li><a href="@Url.Action("vulnerabilityScan", "Product")" onclick='location.href=this.getAttribute("href")'>Vulnerability Scan</a></li>
                        <li><a href="@Url.Action("DefacementMonitoring", "Product")" onclick='location.href=this.getAttribute("href")'>Website Defacement Monitoring</a></li>
                        <li><a href="@Url.Action("EmailThreatPrevention", "Product")" onclick='location.href=this.getAttribute("href")'>Email Threat Monitoring</a></li>
                        <li><a href="@Url.Action("CyberSecurityHealthCheck", "Product")" onclick='location.href=this.getAttribute("href")'>Cyber Security Health Check</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Cyber In A Box</h4>
                    <ul>
                        <li><a href="@Url.Action("AboutUs", "Home")" onclick='location.href=this.getAttribute("href")'>About Us</a></li>
                        <li><a href="@Url.Action("Contact", "Home")" onclick='location.href=this.getAttribute("href")'>Contact Us</a></li>
                        <li><a href="http://www.kpmg.com">KPMG</a></li>
                    </ul>
                </div>
            </div>
            <div class="row b_footer">
                <div class="col-md-12">
                    <p><a href="@Url.Action("Legal", "Home")" onclick='location.href=this.getAttribute("href")'>Legal</a> | <a href="@Url.Action("Privacy", "Home")" onclick='location.href=this.getAttribute("href")'>Privacy</a></p>
                    <p>© 2015 KPMG Services Pte. Ltd. (Registration No: 200003956G), a Singapore incorporated company and a member firm of the KPMG network of independent member firms affiliated with KPMG International Cooperative ("KPMG International"), a Swiss entity. All rights reserved.</p>
                </div>
            </div>

        </div>
    </div><!-- footer -->
    @*@(Html.Telerik().ScriptRegistrar().jQuery(false))




        <script src="~/Scripts/kendo/kendo.web.min.js"></script>*@


    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>








    <script type="text/javascript">
        function cityFilter(element) {
            element.kendoDropDownList({
                dataSource: {
                    transport: {
                        read: "@Url.Action("FilterMenuCustomization_Cities")"
                    }
                },
                optionLabel: "--Select Value--"
            });
        }

        function titleFilter(element) {
            element.kendoAutoComplete({
                dataSource: {
                    transport: {
                        read: "@Url.Action("FilterMenuCustomization_Titles")"
                    }
                }
            });
        }
    </script>









    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
</body>
</html>
